Body{
 
  border: 20px solid rgb(204, 157, 157);
  border-radius: 25px 50px 75px 100px !important ;;
  padding: 25px 50px 75px 100px !important ;
}
.item{
  text-align: center;

}
.main-div {
  display:flex;
  justify-content: space-between;
}
.sub2 span {
  display: inline
}
.nav-link{
  display: inline !important;
  border:2px solid black;
}
#grid-row{
  margin-top: 19px !important;
}
.btn-close{
  float: right;
    padding: 16px !important;
}
.card-text{
  text-align: left;
}
